* {
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color:  grey;
    color: white;
}


h1 {
    margin: 50px;
    text-align: center;
    color: black;
    font-size: 200%;
}

section {
    padding: 20px;
    width: 100%;
    float: left;
}

div {
    position: relative;
	background-color: gray;
	border: 1px solid black;
    width: 100%;
    height: 310px;
    overflow: auto;
    padding: 0px;
}

.title1 {
    margin-left: 70%;
    text-align: center;
    font-weight: bold;
    font-size: 120%;
    padding: 3px;
    border: solid #bcafe0 2px;
    border-radius: 10px;
    margin-top: 0;
    margin-bottom: 0;
    color:black;
    background-color: #eb8888;
}

.title2 {
    margin-left: 70%;
    text-align: center;
    font-weight: bold;
    font-size: 120%;
    padding: 3px;
    border: solid #bcafe0 2px;
    border-radius: 10px;
    margin-top: 0;
    margin-bottom: 0;
    color: black;
    background-color: #c72424
}

.title3 {
    margin-left: 70%;
    text-align: center;
    font-weight: bold;
    font-size: 120%;
    padding: 3px;
    border: solid #bcafe0 2px;
    border-radius: 10px;
    margin-top: 0;
    margin-bottom: 0;
    color: black;
    background-color: yellowgreen;
}

/* responsive */

@media (min-width: 992px){
    .column-lg-4 {
        float: left;
        width: 33.33%;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .column-md-6 {
        float: left;
        width: 50%;
    }
    .column-md-12 {
        float: left;
        width: 100%;
    }
}

@media (max-width: 767px){
    .column-sm-12 {
        float: left;
        width: 100%;
    }
}